*.f90 linguist-language=Fortran
*.f95 linguist-language=Fortran
*.sh linguist-language=Bash
*.py linguist-language=Python
*.1_ linguist-documentation
*.2_ linguist-documentation
*.3_ linguist-documentation
*.Ven linguist-documentation
*.__1 linguist-documentation
*.__2 linguist-documentation
*.__3 linguist-documentation